.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: 61px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  min-height: 80vh;
  
  background: linear-gradient(135deg, #f5f7fa 0%, #62856E 100%);
}

.heroContent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.heroImages{
  display: flex;
  gap : 1rem;
  width: 100%;
}

.heroImageText{
  min-width: 382px;
}

.title {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #1a1a1a;
}

.heroImageContainer{
  height: 530px;
  width: 100%;
  position: relative;
  flex:2
}

.mainImage{
  left: 0;
}

.subtitle {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 3rem;
}

.features {
  width: 100%;
  max-width: 1200px;
  padding: 12rem 2rem 18rem;
  text-align: center;
}

.featureGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}

.featureCard {
  padding: 2rem;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.featureCard > p {
  line-height: 24px;
  text-align: left;
  word-break: normal
}

.featureCard:hover {
  transform: translateY(-5px);
}

.featureIcon {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.screenshots {
  width: 100%;
  padding: 10rem 2rem 12rem;
  text-align: center;
  background-color: #f5f7fa;
  overflow-y: auto;
}

.screenshotGrid {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 3rem;
  overflow-x: auto;
  padding: 1rem;
}

.screenshotImage{
  position: relative;
  min-height: 600px;
  width: 100%;
  display: flex;
  gap:2rem;
  width: 1200px;
  margin-inline: auto;
  margin-top: 3rem;
  
}

.imagedContainer{
  position: relative;
  width: 100%;
}

.screenshotItemImage{
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.05);
  border-radius: 1rem;

}

.screenshotImage::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.stats {
  width: 100%;
  max-width: 1200px;
  padding: 4rem 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: #ffffff;
}

.statContainer {
  text-align: center;
}

.statContainer h3 {
  font-size: 2.5rem;
  color: #1a1a1a;
  margin-bottom: 0.5rem;
}

.download {
  width: 100%;
  max-width: 1200px;
  padding: 12rem 2rem;
  text-align: center;

}

.downloadButtons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.downloadButton {
  transition: transform 0.3s ease;
}

.downloadButton:hover {
  transform: scale(1.05);
}

.downloadText{
  font-size: 3rem;
  color: #62856E;
}

@media (max-width: 768px) {
  .heroContent{
    flex-direction: column;
  }

  .title {
    font-size: 2.5rem;
  }
  
  .subtitle {
    font-size: 1.2rem;
  }
  
  .featureGrid {
    grid-template-columns: 1fr;
  }
  
  .stats {
    flex-direction: column;
  }
  
  .downloadButtons {
    flex-direction: column;
    align-items: center;
  }
}